---
import { getEntry, render } from "astro:content";
import LegalLayout from "../layouts/LegalLayout.astro";

const legal = (await getEntry("legal", "privacy"))!;
const { Content } = await render(legal);
---

<LegalLayout title={legal.data.title} description={legal.data.description} canonicalPath={legal.data.canonicalPath}>
  <section class="about-text legal-text">
    <Content />
  </section>
</LegalLayout>
